@font-face {
  font-family: 'ShadowHand';
  src: url('/fonts/ShadowHand.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LXGW WenKai Screen R';
  src: url('/fonts/LXGWWenKaiScreenR.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
