@import url('https://gw.alipayobjects.com/os/k/font/lxgwwenkaiscreenr.css');
@import 'mapbox-gl/dist/mapbox-gl.css';

main {
  font-family: 'LXGW WenKai Screen R', sans-serif;
  letter-spacing: 0.6px;
}

::-webkit-scrollbar{
  width:6px;
  height:6px;
  background-color: transparent;
  border-radius: 8px;
}
::-webkit-scrollbar-track-piece{
  width:24px;
  background-color:transparent;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:vertical{
  width:24px;
  height:24px;
  background: rgba(214, 212, 212,.3);
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:horizontal{
  width:24px;
  height:24px;
  background: rgba(214, 212, 212,.3);
  border-radius: 8px;
}
::-webkit-scrollbar-button{
  display:none;
}
::-webkit-scrollbar-corner{
  display:none;
}

a.mapboxgl-ctrl-logo{
  display:none !important;
}
.mapboxgl-ctrl-attrib.mapboxgl-compact{
  display:none !important;
}
