html.dark{
  background: black;
  --text-color: rgb(240, 242, 248);

  --card--bg              : #0D1117;
  --card--border          : #30363D;
  --card--placeholder-bg  : #1c2025;
}

html{
  background: white;
  --text-color: rgb(13, 17, 23);

  --card--bg              : #ffffff;
  --card--border          : #ede9e9;
  --card--placeholder-bg  : #ede9e9;
}
